<div class="player-container">
  <h3>Radio player</h3>
  <div class="player-controls">
    <button class="play-button" id="playButton">▶</button>
  </div>
  <div class="now-playing">
    <div id="track-info">Offline</div>
  </div>
  <audio id="radioPlayer" src="https://computeradio.out.airtime.pro//computeradio_a"></audio>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const player = document.getElementById('radioPlayer');
    const playButton = document.getElementById('playButton');
    const trackInfo = document.getElementById('track-info');
    const djInfo = document.getElementById('dj-info');
    playButton.addEventListener('click', function() {
      if (player.paused) {
        player.play();
        playButton.innerHTML = '❚❚';
      } else {
        player.pause();
        playButton.innerHTML = '▶';
      }
    });
  });
</script>
